
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Achievements</h4>
                                    <p class="card-category">Gotta Catch em all!
                                    </p>
                                </div>
                                <div class="card-body all-icons">
                                    <div class="row">
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail" style="background:rgba(0, 255, 0, 0.78)">
                                                <i class="nc-icon nc-air-baloon" ></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Ride to work 1</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-album-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Ride to work 2</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-alien-33"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Ride to work 3</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6 ">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-align-center"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Public transport 1</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-align-left-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Public transport 2</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-ambulance"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Public transport 3</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6" >
                                            <div class="font-icon-detail" style="background:rgba(0, 255, 0, 0.78)">
                                                <i class="nc-icon nc-android"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Power saver</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-app"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Power Saver Super</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-apple"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail" style="background:rgba(0, 255, 0, 0.78)">
                                                <i class="nc-icon nc-atom"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">New Idea</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-attach-87"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-audio-92"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-backpack"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-badge"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bag"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bank"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-battery-81"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bell-55"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bold"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bulb-63"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bullet-list-67"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-bus-front-12"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-button-pause"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-button-play"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-button-power"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-camera-20"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-caps-small"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-cart-simple"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-cctv"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-chart-bar-32"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-chart-pie-35"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-chart-pie-36"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-chart"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-chat-round"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-check-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-circle-09"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-circle"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-cloud-download-93"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-cloud-upload-94"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-compass-05"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-controller-modern"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-credit-card"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-delivery-fast"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-email-83"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-email-85"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-explore-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-fav-remove"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-favourite-28"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-globe-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-grid-45"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-headphones-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-html5"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-istanbul"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-key-25"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-layers-3"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-light-3"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-lock-circle-open"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-map-big"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-mobile"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-money-coins"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-note-03"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-notes"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-notification-70"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-palette"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-paper-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-pin-3"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-planet"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-preferences-circle-rotate"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-puzzle-10"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-quote"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-refresh-02"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-ruler-pencil"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-satisfied"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-scissors"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-send"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-settings-90"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-settings-gear-64"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-settings-tool-66"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-simple-add"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-simple-delete"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-simple-remove"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-single-02"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-single-copy-04"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-spaceship"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-square-pin"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-stre-down"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-stre-left"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-stre-right"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-stre-up"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-sun-fog-29"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-support-17"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-tablet-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-tag-content"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-tap-01"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-time-alarm"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-tv-2"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-umbrella-13"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-vector"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-watch-time"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                        <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-6">
                                            <div class="font-icon-detail">
                                                <i class="nc-icon nc-zoom-split"></i>
                                                <p style="color:rgb(0, 0, 0);font-weight:bold">Achievement</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
